


body {
    font-family: Arial;
    background-image: url('img/רקע.jpg');
    padding: 10px;
}


ul.b {
    list-style-type: circle;
    direction: rtl;
    position:relative;
    color: aliceblue;
}

img {
    width: 400px;
    height: 300px;
    float: left;
    margin: 10px;

}

h2{
    text-align: right;
    color: antiquewhite;
    padding-top:30px;

}

h1{
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

p{
    direction: rtl;
    color: aliceblue;
    font-family: Geneva, Verdana, sans-serif;   

}


table {
    margin: 0 auto;
    font-size: 20px;
    
}


body, button {
    direction: rtl;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 0px;
    background-color: #fbe2fb;
}