.all {
    padding-left: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bgpic.png);
    font-family: Georgia, serif;
    background-image: url('images/safety-tips.jpg');
}

.button {
    font-size: 18px;
    padding: 5x;
    border: 2px solid white;
    border-radius: 10px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

/*   making the bar become dark when hover over link page */
nav ul li.active a {
    border-bottom: 2px solid whitesmoke;
}

/*   makes the big header */
.hero header .logo h2 a {
    font-family: Georgia, serif;
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: whitesmoke;
}

/*   makes all the small links in a row */
.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    font-family: Georgia, serif;
}

nav ul li {
    color: whitesmoke;
    list-style: none;
    display: inline-block;
}

    nav ul li a {
        text-decoration: none;
        color: whitesmoke;
        margin-left: 60px;
        font-size: 15px;
        font-weight: 600;
    }

.container {
}

    .container h2 {
        width: 100%;
        color: whitesmoke;
        font-size: 36px;
        text-align: center;
        margin-bottom: 10px;
    }

    .container .row100 {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(autofit,minmax(300px,1fr));
    }

        .container .row100 .col {
            position: relative;
            width: 100%;
            padding: 0 10px;
            margin: 30px 0 10px;
            transition: 0.5s;
        }

        .container .row100 .inputbox {
            position: relative;
            width: 100%;
            height: 40px;
            color: whitesmoke;
        }

            .container .row100 .inputbox input,
            .container .row100 .inputbox .texterea textarea {
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                box-shadow: none;
                border: none;
                outline: none;
                font-size: 18px;
                padding: 0 10px;
                z-index: 1;
                color: #000;
            }

            .container .row100 .inputbox .text {
                position: absolute;
                top: 0;
                left: 0;
                line-height: 40px;
                font-size: 18px;
                padding: 0 10px;
                display: block;
                transition: 0.5s;
                pointer-events: none;
            }

            .container .row100 .inputbox input:focus + .text,
            .container .row100 .inputbox input:valid + .text {
                top: -35px;
                left: -10px;
            }

            .container .row100 .inputbox .line {
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                height: 2px;
                background: whitesmoke;
                transition: 0.5s;
                border-radius: 2px;
                pointer-events: none;
            }

            .container .row100 .inputbox input:focus ∼ .line,
            .container .row100 .inputbox input:valid ∼ .line {
                height: 100%;
            }

            .container .row100 .inputbox.texterea {
                position: relative;
                width: 100%;
                height: 100px;
                padding: 10px 0;
            }

                .container .row100 .inputbox .texterea textarea {
                    height: 100%;
                    resize: none;
                }

            .container .row100 .inputbox textarea:focus + .text,
            .container .row100 .inputbox textarea:valid + .text {
                top: -35px;
                left: -10px;
            }

            .container .row100 .inputbox textarea:focus + .text,
            .container .row100 .inputbox textarea:valid + .text {
                top: -35px;
                left: -10px;
            }

            .container .row100 .inputbox input:focus ∼ .line,
            .container .row100 .inputbox input:valid ∼ .line {
                height: 100%;
            }

textarea {
    background: transparent;
    font-size: 20px;
}

