body {
    html, body
    height: 100%;
    width: 100%;
    background: background-size: cover;
}

.myContainer {
    background-color: #AAA;
    color: black;
    position: fixed;
    float: left;
    right: 0;
    top: 0;
    margin-top: 125px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 150px;
    padding-top: 20px;
    z-index: 9999;
    border-radius: 20px;
}

