h3 {
    color: white;
    font-size: 24px
}

body {
    background-image: url('https://cdn.staticcrate.com/stock-hd/effects/footagecrate-low-poly-background-black-wall-prev-full.png');
}

ul {
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    padding: 1px 20px;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 100px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }
