body {
    direction: rtl;
    color:brown;
    font-size:17px;
    font-family:'Freestyle Script';
}
h1{
    text-align:center;
    text-shadow: 1px 2px peru;
}

html{
    background: url('franceImg.png');
    background-size: cover;
}
table{
    width:100%;
}