div {
    color: #ff1a1a;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    border: #300000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 95%;
    padding: 30px;
    text-align: center;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


.cancelbtn, .signupbtn {
    float: left;
    width: 10%;
}

.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #310e1d;
}

    .topnav a {
        float: left;
        color: ghostwhite;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        float: right;
        font-family: 'Times New Roman';
    }

        .topnav a:hover {
            background-color: #340e1d;
            color: ghostwhite;
        }

tr {
    color: #830a0d;
}
