<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <title></title>
    <link href="StyleSheet1.css" rel="stylesheet" />
    <style>
        h1{
            right:40%;
            position:fixed;
            top:30%;
            color:white;
        }
        body{
      
                       
            background-size:cover;
            
        }
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }

    </style>
</head>
<body>

    <video autoplay muted loop id="myVideo">
        <source src="Football - 101791.mp4" >
        Your browser does not support HTML5 video.
    </video>

    <ul>


        <li style="text-decoration: underline;">
            <a href="HtmlPage1.html">Main Page</a>
        </li>

        <li><a href="registrationForm.html">Registration Form</a></li>

        <li>
            <a href="world.cup.2022.html">World Cup 2022</a>
        </li>
        <li>
            <a href="world.cup.2018.html">World Cup 2018</a>
        </li>
        <li>
            <a href="world.cup.2014.html">World Cup 2014</a>
        </li>
        <li>
            <a href="world.cup,2010.html">World Cup 2010</a>
        </li>
        <li>
            <a href="world.cup.2006.html">World Cup 2006</a>
        </li>


    </ul>

    <h1 style="color:red">sᴏᴄᴄᴇʀ ᴡᴏʀʟᴅ ᴄᴜᴘs </h1>


</body>
</html>