body {
    background-image: url('sign.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #ddd;
    transition: all 0.2s ease-in-out;
}

    input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, {
        box-shadow: 0 0 10px #4d90fe;
    }

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4d90fe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

    input[type="submit"]:hover {
        background-color: #357ae8;
    }
