body {
    
}

a {
    margin-left: 100px;
    font-size: 50px;
    color: blueviolet;
}

.image {
    margin-left: 150px;
    margin-top: 100px;
    
}

.topnav {
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 14px;
        text-decoration: none;
        font-size: 20px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }


h1 {
    font-size: larger;
    margin-top: 50px;
}

p {
    font-size: 20px;
}

.signIn {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.signUp {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}
td {
    font-size: 15px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}