
body {
    background-color: black;
    font-family: "Sofia";
}
h1 {
    color: dodgerblue;
    text-align:center;
    font-size:30px;
}
h2 {
    color: dodgerblue;
    text-align: center;
}

p1 {
    margin-left: 7%;
    font-size: 33px;
}

p2 {
    margin-left: 5%;
    font-size: 33px;
}

p3 {
    margin-left: 5%;
    font-size: 33px;
}

p4 {
    margin-left: 8%;
    font-size: 33px;
}

p5 {
    margin-left: 8%;
    font-size: 33px;
}

img {
    border-radius: 50px;
    margin-left: 5%;
    height: 500px;
    width: 250px;
}

img1 {
    border-radius: 50px;
    height: 500px;
    margin-left: 5%;
    width: 250px;
}

img2 {
    border-radius: 50px;
    height: 500px;
    margin-left: 5%;
    width: 250px;
}

img3 {
    border-radius: 50px;
    height: 500px;
    margin-left: 10%;
    width: 250px;
}

img4 {
    border-radius: 50px;
    height: 500px;
    margin-left: 5%;
    width: 250px;
}
