body {
    font-family: arial;
    margin: 0px;
    padding: 0px;
    background-image: url('../images/pexels-francesco-ungaro-281260 (1).jpg');
    background-position: center;
    box-sizing: border-box;
    text-align:center;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: rgba(144, 144, 144, 0.5);
}

li {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    list-style-type: none;
}

li a:hover {
    background-color: #111;
}

a:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}

#submit {
    margin-top: 10px;
    background-color: rgb(117, 255, 133);
    border-radius: 5px;
    border-width: 0px;
    font-size: 18px;
}

#form {
    background-color: rgba(230, 230, 230, 0.437);
    padding: 10px;
    padding-top: 0px;
}

#text_css {
    height: 100%;
    text-align: center;
}
