body {
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0.60)), url('pictures/basket.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
}
table{
    padding: 5px ;
    margin-left:5px ;
    font-size: 20px ;
}
ul {
    list-style-type: none;            
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: inline-flex;
    border: 1px solid #555;
    background-color: black;
}

li a {
    display: block;
    padding: 10px 70px;
    color: white;
    text-decoration: wavy;
    font-weight: bold;
    font-size: 20px;
}

li a:hover {
    background-color: dimgrey;
}

#h1_1 {
    color: antiquewhite;
    font-family: 'High Tower Text';
    font-size: 29px;
    text-decoration: underline;
    margin-left: 0px;
}
.reg_word{
    color: white ;
}
.abc{
    color: red ;
}
#imr {
    float: right;
    width: 200px;
    margin-right:55%  ;
    margin-top:10px ;
    border-radius: 30px;
}
#sub {
    height: 40px;
    width: 60px;
    background-color: grey;
    color: white;
    border-radius: 30px;
}
#res {
    height: 40px;
    width:60px ;
    background-color: grey;
    color: white;
    border-radius: 30px;
}
.regstyle {
    border-radius: 30px;
    background-color: grey ;
}