ul.ing {
    padding: 0;
    z-index: -1;
}

    ul.ing li {
        position: relative;
        padding: 12px 8px 12px;
        right: 20px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        width: 25%;
        font-family: Aharoni;
        cursor: pointer;
    }

        ul.ing li:hover {
            background: #ddd;
        }

        ul.ing li.checked {
            background: #888;
            color: #fff;
            /*  text-decoration: line-through;*/
        }

            ul.ing li.checked::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 10px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }

.header:after {
    content: "";
    display: table;
    clear: both;
}
